{% load static %}
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <h1> Display PDF using normal iFrame tag </h1>
    <p> We display some pdf in this web app using the normal iFrame setting.<br>
 We use in the next section the PDF-JS to display the same pdfs. click <a id="viewerlink" href="{% url 'pdfjs' %}">here</a> to display the same PDFs using the PDF-Js framework. </p>
    {% for doc in documents %}
     <h2>{{ doc.title }}</h2>
     <p>{{doc.doc_file.url}} </p>
	<iframe id="iframe_pdf" src="{{ doc.doc_file.url }}" 
          style="width:800px; height:800px;" frameborder="0"></iframe>
    {% endfor%}
  </body>
</html>
